{% extends "sprint_0/layouts-la/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint_0/homepage-la.html">Home</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">

      <h1 class="govuk-heading-xl govuk-!-margin-bottom-9" id="now">
        Latest news and updates    </h1>

       
        <span class="govuk-caption-m" id="sfvs">Published 10 March 2023</span>
        <h2 class="govuk-heading-m">Schools financial value standard (SFVS) and assurance statement due soon
        </h2>
      <p>Deadline for submissions 31 March 2023. You can use our benchmarking tool to fill in your statement.</p>
      <p class="govuk-!-margin-bottom-8"><a href="https://www.gov.uk/government/publications/schools-financial-value-standard-sfvs" class="govuk-link" rel="noreferrer noopener" target="_blank">Schools financial value standard (SFVS) and assurance statement (opens in new tab)</a></p>

      <span class="govuk-caption-m" id="rpa">Published 8 March 2023</span><h2 class="govuk-heading-m">
        Join the risk protection arrangement (RPA)
        </h2>
      <p>Public sector schools can join the risk protection arrangement (RPA), an alternative to commercial insurance, which may save time and money.</p>
      <p class="govuk-!-margin-bottom-8"><a href="https://www.gov.uk/guidance/the-risk-protection-arrangement-rpa-for-schools" class="govuk-link" rel="noreferrer noopener" target="_blank">The risk protection arrangement (RPA) for schools (opens in new tab)</a></p>
       
    </div>
  </div>

{% endblock %}
