{% extends "sprint_0/layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint_0/homepage.html">Home</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}
<h1 class="govuk-heading-xl">Stay up to date cards ideation (Sprint 0)</h1>
<p>This page shows ideation around improving the grouping and readability of information on the cards that appear within the 'Stay up to date' section.</p>

<h2 class="govuk-heading-l">Design 1</h2>
  <p>This is the design we have in the prototype at the end of the alpha stage.</p>
  <p class="govuk-body">Thoughts on this design:</p>
  <ul class="govuk-list govuk-list--bullet">
    <li>On the 'Latest news and updates' card, the 'Published by' text is quite pale and lost among the blue links.</li>
    <li>On the 'Mandatory tasks' card, the information about the upcoming task is dense and not very easy to read.</li>
    <li>The current split between the cards (two-thirds and one-third) may suggest that mandatory tasks is less important than latest news.</li>
    </ul>
<h2 class="govuk-heading-l">Stay up to date</h2>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds card-container govuk-!-margin-bottom-9">
        
        <div class="card-universal">
            <h3 class="govuk-heading-m">Latest news and updates</h3>
            <span class="govuk-caption-m">Published 10 March 2023</span>
            <p class="govuk-body"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
            
            <span class="govuk-caption-m">Published 8 March 2023</span>
            <p class="govuk-body"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
            
            
            <span class="govuk-caption-m">Published 8 March 2023</span>
            <p class="govuk-body"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
            <p><a href="/sprint_0/news.html">See all latest news</a></p>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-third card-container govuk-!-margin-bottom-9">
        <div class="card-universal">
          <h3 class="govuk-heading-m">Mandatory tasks</h3>
          <p><strong>School resource management self-assessment checklist submission</strong><br>
            Upcoming deadline: 15 March 2023<br>
              <a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist" target="blank">View guidance (opens in new tab)</a></p>
            <p><a href="/sprint_0/deadlines.html">View all deadlines</a></p>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-l">Design 2</h2>
    <p>This idea shows the cards split into two 'half' columns to see whether this helps explain suggest that these items have more equal importance. </p>
    <p class="govuk-body">Thoughts on this design:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>there is only one mandatory task so perhaps the mandatory tasks card looks a little empty compared to the latest news card.</li>
  <li>it may be hard to distinguish between the two links on the mandatory tasks page</li>
</ul>
    
<h2 class="govuk-heading-l">Stay up to date</h2>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
        
        <div class="card-universal">
            <h3 class="govuk-heading-m">Latest news and updates</h3>
            <span class="govuk-caption-m">Published 10 March 2023</span>
            <p class="govuk-body"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
            
            <span class="govuk-caption-m">Published 8 March 2023</span>
            <p class="govuk-body"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
            
            
            <span class="govuk-caption-m">Published 8 March 2023</span>
            <p class="govuk-body"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
            <p><a href="/sprint_0/news.html">See all latest news</a></p>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
        <div class="card-universal">
          <h3 class="govuk-heading-m">Mandatory tasks</h3>
          <p class="govuk-body govuk-!-margin-bottom-2"><strong>School resource management self-assessment checklist submission</strong></p>
            <p>Upcoming deadline: 15 March 2023</p>
            <p class="govuk-body govuk-!-margin-bottom-5"><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">View guidance</a></p>
            <p><a href="/sprint_0/deadlines.html">View all deadlines</a></p>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-l">Design 3</h2>
    <p>On the 'Mandatory tasks' card, the 'View guidance' link has been removed and instead the link has been applied to the text 'School resource management self-assessment checklist submission' text.</p>
    <p class="govuk-body">Thoughts on this design:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the link style of the 'School resource management self-assessment checklist submission' is heavier than that used on the latest news card.</li>
  </ul>
    <h2 class="govuk-heading-l">Stay up to date</h2>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
        
        <div class="card-universal">
            <h3 class="govuk-heading-m">Latest news and updates</h3>
            <span class="govuk-caption-m">Published 10 March 2023</span>
            <p class="govuk-body"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
            
            <span class="govuk-caption-m">Published 8 March 2023</span>
            <p class="govuk-body"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
            
            
            <span class="govuk-caption-m">Published 8 March 2023</span>
            <p class="govuk-body"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
            <p><a href="/sprint_0/news.html">See all latest news</a></p>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
        <div class="card-universal">
          <h3 class="govuk-heading-m">Mandatory tasks</h3>
          <p class="govuk-body govuk-!-margin-bottom-2"><strong><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">School resource management self-assessment checklist submission</a></strong></p>
            <p>Upcoming deadline: 15 March 2023</p>
            <p class="govuk-body govuk-!-margin-bottom-9"><a href="/sprint_0/deadlines.html">View all deadlines</a></p>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-l">Design 4</h2>
    <p>On the 'Latest news and updates' card, the 'See all latest news' link has been removed and instead the link has been applied to the 'Latest news and updates' heading. Likewise, on the 'Mandatory tasks' card, the 'See all latest news' link has been removed and instead the link has been applied to the 'Mandatory tasks' heading.</p>
    <p class="govuk-body">Thoughts on this design:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the cards look very link-heavy</li>
      <li>it may not be obvious to the user that the linked headings lead to 'all' pieces of latest news/mandatory tasks.</li>
    </ul>
      <h2 class="govuk-heading-l">Stay up to date</h2>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
    
    <div class="card-universal">
        <h3 class="govuk-heading-m"><a href="/sprint_0/news.html">Latest news and updates</a></h3>
        
        
        <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
        <p>Published 10 March 2023</p>

        <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
        <p>Published 8 March 2023</p>

        
        <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
        <p>Published 8 March 2023</p>

      </div>
  </div>

  <div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
    <div class="card-universal">
      <h3 class="govuk-heading-m"><a href="/sprint_0/deadlines.html">Mandatory tasks</a></h3>
      <p class="govuk-body govuk-!-margin-bottom-2"><strong><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">School resource management self-assessment checklist submission</a></strong></p>
        <p>Upcoming deadline: 15 March 2023</p>
    </div>
  </div>
</div>


<h2 class="govuk-heading-l">Design 5</h2>
<p>This is the same design as 5 but the layout is a two-thirds column / a one-third column.</p>
<p class="govuk-body">Thoughts on this design:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the two-thirds / one-third split makes better use of space</li>
  </ul>

<h2 class="govuk-heading-l">Stay up to date</h2>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds card-container govuk-!-margin-bottom-9">
        
        <div class="card-universal">
          <h3 class="govuk-heading-m"><a href="/sprint_0/news.html">Latest news and updates</a></h3>
          <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
        <p>Published 10 March 2023</p>

        <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
        <p>Published 8 March 2023</p>

        
        <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
        <p>Published 8 March 2023</p>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-third card-container govuk-!-margin-bottom-9">
        <div class="card-universal">
          <h3 class="govuk-heading-m"><a href="/sprint_0/deadlines.html">Mandatory tasks</a></h3>
          <p class="govuk-body govuk-!-margin-bottom-2"><strong><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">Submit school resource management self-assessment checklist</a></strong></p>
          <p>Deadline: 15 March 2023</p>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-l">Design 6</h2>
    <p>The layout is a two-thirds column / a one-third column. The headings on the cards 'Latest news and updates' and 'Mandatory tasks' are unlinked. The 'Published on...' line is in a slightly smaller font size.</p>
    <p class="govuk-body">Thoughts on this design:</p>
    <ul class="govuk-list govuk-list--bullet">
      <li>the size of the 'Published' line draws less attention to this so it's easier to read the titles of news stories</li>
      <li>not sure that the 'Upcoming tasks' heading makes the card easier to read</li>
      <li>splitting the 'Deadline' and date makes the content longer in the card but not sure it is any easier to read.</li>
    </ul>

    <h2 class="govuk-heading-l">Stay up to date</h2>

        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds card-container govuk-!-margin-bottom-9">
        
        <div class="card-universal">
          <h3 class="govuk-heading-m">Latest news and updates</h3>
          <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
        <p class="govuk-body-s">Published 10 March 2023</p>

        <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
        <p class="govuk-body-s">Published 8 March 2023</p>

        
        <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
        <p class="govuk-body-s">Published 8 March 2023</p>

        <p><a href="/sprint_0/news.html">View all latest news</a></p>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-third card-container govuk-!-margin-bottom-9">
        <div class="card-universal">
          <h3 class="govuk-heading-m">Mandatory tasks</h3>
          <h2 class="govuk-heading-s">Upcoming task</h3>
          <p class="govuk-body govuk-!-margin-bottom-2"><strong><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">Submit school resource management self-assessment checklist</a></strong></p>
          <p>Deadline<br>
          15 March 2023</p>
          <p><a href="/sprint_0/deadlines.html">View all mandatory tasks</a></p>
        </div>
      </div>
    </div>

    <h2 class="govuk-heading-l">Design 7</h2>
    <p>The layout is a two-half columns. On the 'Mandatory tasks' card, there is an additional heading 'Upcoming task'. On the same card, the 'Deadline' and date are split across two lines.</p>
 <p class="govuk-body">Thoughts on this design:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>easier to read the 'Submit school resource management self-assessment checklist' link as unbolded</li>
  <li>easier to read the mandatory tasks content in a one-half card</li>
</ul>
    <h2 class="govuk-heading-l">Stay up to date</h2>

    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
    
    <div class="card-universal">
      <h3 class="govuk-heading-m">Latest news and updates</h3>
      <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
    <p class="govuk-body-s">Published 10 March 2023</p>

    <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
    <p class="govuk-body-s">Published 8 March 2023</p>

    
    <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
    <p class="govuk-body-s">Published 8 March 2023</p>

    <p><a href="/sprint_0/news.html">View all latest news</a></p>

      </div>
  </div>

  <div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
    <div class="card-universal">
      <h3 class="govuk-heading-m">Mandatory tasks</h3>
      <h2 class="govuk-heading-s">Upcoming task</h3>
      <p class="govuk-body govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">Submit school resource management self-assessment checklist</a></p>
      <p>Deadline<br>
      15 March 2023</p>
      <p><a href="/sprint_0/deadlines.html">View all mandatory tasks</a></p>
    </div>
  </div>
</div>

<h2 class="govuk-heading-l">Design 8</h2>
<p>The layout is the same as 7 but on the 'Mandatory tasks' card, there is an additional task 'Academies budget forecast return'.</p>
<p class="govuk-body">Thoughts on this design:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the cards look more balanced when there is more than one task on the mandatory tasks card</li>
  <li>we don't know yet how many mandatory tasks there will be or whether it makes sense to show more than one here</li>
</ul>
    
    <h2 class="govuk-heading-l">Stay up to date</h2>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">

<div class="card-universal">
  <h3 class="govuk-heading-m">Latest news and updates</h3>
  <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
<p class="govuk-body-s">Published 10 March 2023</p>

<p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
<p class="govuk-body-s">Published 8 March 2023</p>


<p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
<p class="govuk-body-s">Published 8 March 2023</p>

<p><a href="/sprint_0/news.html">View all latest news</a></p>

  </div>
</div>

<div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
<div class="card-universal">
  <h3 class="govuk-heading-m">Mandatory tasks</h3>
  <p class="govuk-body govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">Submit school resource management self-assessment checklist</a></p>
  <p>Deadline<br>
  15 March 2023</p>

  <p class="govuk-body govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/academies-budget-forecast-return">Academies budget forecast return</a></p>
  <p>Deadline<br>
  26 July 2023</p>

  <p><a href="/sprint_0/deadlines.html">View all mandatory tasks</a></p>
</div>
</div>
</div>


<h2 class="govuk-heading-l" id="9">Design 9 [taken forward]</h2>
<p>The layout is the same as 8 but on the 'Mandatory tasks' card, the deadline and date line have been merged onto a single line.</p>
<p class="govuk-body">Thoughts on this design:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>line spacing on the mandatory tasks card makes the content easier to read</li>
  <li>it is clear that the user can click to see 'all mandatory tasks'</li>
</ul>
<h2 class="govuk-heading-l">Stay up to date</h2>
  <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds card-container govuk-!-margin-bottom-9">

<div class="card-universal">
  <h3 class="govuk-heading-m">Latest news and updates</h3>
  <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
<p class="govuk-body-s">Published 10 March 2023</p>

<p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
<p class="govuk-body-s">Published 8 March 2023</p>


<p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
<p class="govuk-body-s govuk-!-margin-bottom-5">Published 8 March 2023</p>

<p><a href="/sprint_0/news.html">View all latest news</a></p>
</div>
</div>

<div class="govuk-grid-column-one-third card-container govuk-!-margin-bottom-9">
<div class="card-universal">
  <h3 class="govuk-heading-m">Mandatory tasks</h3>
  <p class="govuk-body govuk-!-margin-bottom-1"><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">Submit school resource management self-assessment checklist</a></p>
  <p class="govuk-body govuk-!-margin-bottom-5">Deadline: 15 March 2023</p>
  <p><a href="/sprint_0/deadlines.html">View all mandatory tasks</a></p>
</div>
</div>
</div>

<h2 class="govuk-heading-l">Design 10</h2>
<p>The layout is the same as 9 but on the 'Mandatory tasks' card, there are two mandatory tasks.</p>
<p class="govuk-body">Thoughts on this design:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>this shows that the mandatory tasks card could accommodate another task if there is enough content to warrant this</li>
</ul>
<h2 class="govuk-heading-l">Stay up to date</h2>
<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
<div class="govuk-grid-column-two-thirds card-container govuk-!-margin-bottom-9">

<div class="card-universal">
  <h3 class="govuk-heading-m">Latest news and updates</h3>
  <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
<p class="govuk-body-s">Published 10 March 2023</p>

<p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
<p class="govuk-body-s">Published 8 March 2023</p>


<p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
<p class="govuk-body-s">Published 8 March 2023</p>

<p><a href="/sprint_0/news.html">View all latest news</a></p>
</div>
</div>

<div class="govuk-grid-column-one-third card-container govuk-!-margin-bottom-9">
<div class="card-universal">
  <h3 class="govuk-heading-m">Mandatory tasks</h3>
  <p class="govuk-body govuk-!-margin-bottom-1"><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">Submit school resource management self-assessment checklist</a></p>
  <p class="govuk-body govuk-!-margin-bottom-5">Deadline: 15 March 2023</p>


  <p class="govuk-body govuk-!-margin-bottom-1"><a href="https://www.gov.uk/guidance/academies-budget-forecast-return">Academies budget forecast return</a></p>
  <p class="govuk-body govuk-!-margin-bottom-5">Deadline: 26 July 2023</p>
  <p><a href="/sprint_0/deadlines.html">View all mandatory tasks</a></p>
</div>
</div>
</div>
<script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

<h2 class="govuk-heading-l">Design 11</h2>
<p>The layout is the same as 8 but with the deadline and date on the same line (on the mandatory tasks card).</p>
<p class="govuk-body">Thoughts on this design:</p>
<ul class="govuk-list govuk-list--bullet">
  <li>the latest new and mandatory tasks cards are the same width so have equal weight</li>
  <li>we don't know yet how many mandatory tasks there will be and whether it makes sense to show two here</li>
</ul>
    
    <h2 class="govuk-heading-l">Stay up to date</h2>

<hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

<div class="govuk-grid-row">
<div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">

<div class="card-universal">
  <h3 class="govuk-heading-m">Latest news and updates</h3>
  <p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#srm">School resource management self-assessment checklist submission is due soon</a></p>
<p class="govuk-body-s">Published 10 March 2023</p>

<p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#aad">Academies Account Direction will be published soon</a></p>
<p class="govuk-body-s">Published 8 March 2023</p>


<p class="govuk-body govuk-!-margin-bottom-1"><a href="/sprint_0/news.html#tcf">Trust Capacity Fund (TCaF) application window is opening soon</a></p>
<p class="govuk-body-s">Published 8 March 2023</p>

<p><a href="/sprint_0/news.html">View all latest news</a></p>

  </div>
</div>

<div class="govuk-grid-column-one-half card-container govuk-!-margin-bottom-9">
<div class="card-universal">
  <h3 class="govuk-heading-m">Mandatory tasks</h3>
  <p class="govuk-body govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">Submit school resource management self-assessment checklist</a></p>
  <p>Deadline: 15 March 2023</p>

  <p class="govuk-body govuk-!-margin-bottom-2"><a href="https://www.gov.uk/guidance/academies-budget-forecast-return">Academies budget forecast return</a></p>
  <p>Deadline: 26 July 2023</p>

  <p><a href="/sprint_0/deadlines.html">View all mandatory tasks</a></p>
</div>
</div>
</div>
{% endblock %}
