{% extends "v4_0/layouts-la/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/v4_0/manage-finances-la.html">Home</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

  <div class="govuk-grid-row">
      <h1 class="govuk-heading-xl">
        Understand financial data for your school</h1>
      <p style="padding-bottom:30px">Links to tools that help you understand data for your school.</p>
          
        <div class="govuk-grid-row">
              
                <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
                  <div class="card-flat-lav2">
                    <h2 class="govuk-heading-m">Schools financial benchmarking</h2>
                    <p>Compare a school or trust's income and expenditure with similar establishments in England.</p>
                    <p class="govuk-!-margin-bottom-8"><a href="https://schools-financial-benchmarking.service.gov.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">View benchmarking (opens in new tab)</a></p>
                   </div>
                </div>
                
                <div class="govuk-grid-column-one-third">
                  <div class="card-flat-lav2">
                      <h2 class="govuk-heading-m">View your education data</h2>
                      <p>View your education data provides analytical insights to support business intelligence and better decision making.</p>
                      <p class="govuk-!-margin-bottom-8"><a href="https://viewyourdata.education.gov.uk/" class="govuk-link" rel="noreferrer noopener" target="_blank">View education data (opens in new tab)</a></p>
                   </div>
                </div>
      
      
                <div class="govuk-grid-column-one-third">
                  <div class="card-flat-lav2">
                    <h2 class="govuk-heading-m">View my financial insights</h2>
                    <p>View my financial insights provides insights into the financial position and performance of schools.</p>
                    <p class="govuk-!-margin-bottom-8"><a href="https://www.gov.uk/government/publications/view-my-financial-insights" class="govuk-link" rel="noreferrer noopener" target="_blank">View insights (opens in new tab)</a></p>
                </div>
              </div>
              </div>

              <div class="govuk-grid-row">
              
                <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
                  <div class="card-flat-lav2">
                    <h2 class="govuk-heading-m">Integrated curriculum and financial planning (ICFP)</h2>
                    <p>Use ICFP to create the best curriculum for pupils with available funding.</p>
                    <p class="govuk-!-margin-bottom-8"><a href="https://www.gov.uk/guidance/integrated-curriculum-and-financial-planning-icfp" class="govuk-link" rel="noreferrer noopener" target="_blank">Plan curriculum (opens in new tab)</a></p>
                   </div>
                </div>
        </div>
  </div>

{% endblock %}
