{% extends "sprint_1/layouts-la/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint_1/homepage-la.html">Home</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Mandatory tasks</h1>

<p>See your mandatory DfE deadlines.</p>
<p align="right">
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add to your calendar
</button>
</p>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">2022/2023 academic year</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">31 March 2023</td>
      <td class="govuk-table__cell"><a href="https://www.gov.uk/government/publications/schools-financial-value-standard-sfvs" target="blank">Schools financial value standard (SFVS) and assurance statement (opens in new tab)</a> <br>Deadline for submissions. You can use our <a href="https://schools-financial-benchmarking.service.gov.uk/" target="blank">benchmarking tool (opens in new tab)</a> to fill in the online form.</td>
    </tr>
  </tbody>
</table>

{% endblock %}
