{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-finances.html">Home</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}
<main class="govuk-main-wrapper">

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Academy Accounts Return</h1>
      <p>Academy trusts and auditors need to complete an annual accounts return. Find guidance, support and events to help you complete the academy accounts return.</p>
        <p>There are 5 things you need to do when completing your accounts return.</p>
      <ol>
        <li>Consider automating your accounts returns. Draft financial statements open for automated accounts on 1 September 2023.</li>
      <li>The accounts return opens on 18 October 2023 so you can prepare an annual report and submission.
      </li>
      <li>Submit audited accounts and an auditor’s regularity assurance report to ESFA by 31 December 2023.
      </li>
      <li> Submit the accounts return by 19 January 2024.
      </li>
      <li>Publish the audited accounts on the trust’s website by 31 January 2024.
      </li>
      
      
      </ol>
      <h2 class="govuk-heading-m">Automating the academies accounts return</h2>
      <p>The academies accounts return can be automated. You can electronically submit your trial balance data directly from your financial management software to the department, where it will be used to pre-populate up to 80% of your accounts return.</p>
      <p>Get more information on automating your accounts return by attending a webinar or dial-in Q&A session.
        [would we list these here??]</p>
        
      <h2 class="govuk-heading-m">Academies Accounts Direction</h2>
      <p>The Academies Accounts Direction is used by academy trusts, their auditors and reporting accountants to prepare and audit financial statements for the accounting period ending on 31 August annually.</p>
      
    </div>
  </div>
</main>
{% endblock %}
