
{% extends "layout-guidance.html" %}

{% block pageTitle %}
Additional payments for teaching: eligibility and payment details - Collection - GOV.UK
{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <div class="govuk-breadcrumbs">
        <ol class="govuk-breadcrumbs__list">
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Home</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Education, training and skills</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Teaching and leadership</a>
          </li>
          <li class="govuk-breadcrumbs__list-item">
            <a class="govuk-breadcrumbs__link" href="#">Recruiting, inducting and managing teachers</a>
          </li>
        </ol>
      </div>
    </div>

  <div class="govuk-width-container">
  <main class="govuk-main-wrapper">

    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds contents-list">
        
        <span class="govuk-caption-xl gem-c-title__context">Collection</span>
        <h1 class="govuk-heading-l">Additional payments for teaching: eligibility and payment details</h1>
        <p class="govuk-body-l">We give additional payments to early career teachers who are teaching certain subjects. These payments are to encourage those teachers to stay in the profession.</p>
        <p class="govuk-body-l">We also give payments to early career teachers teaching certain subjects in particular schools. These payments are because the school is part of the government levelling up scheme.</p>
        <p class="govuk-body-l">Check the rules for who can claim and how payments are made.</p>
        <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
        </div>          
        <div class="govuk-grid-column-one-third">
        </div>
      </div>

      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">          
          <table class="govuk-table">
            <tbody class="govuk-table__body">
              <tr class="govuk-table__row">
                <td class="govuk-table__cell"><p class="govuk-body-s">From:<br>Published:<br>Last updated:</p></td>
                <td class="govuk-table__cell"><p class="govuk-body-s"><a href="#">Department for Education</a><br>1 January 2022<br>30 March 2022, <a href="#" class="govuk-link govuk-link--no-visited-state">see all updates</a></p></td>
              </tr>          
            </tbody>
          </table>

          <h1 class="govuk-heading-l">Additional payments</h1>
          <p class="govuk-body">Additional payments are available to early career teachers who qualified in and now teach either chemistry, computing, foreign languages, mathematics and physics.</p>
          <p class="govuk-body">You may be eligible for an early-career payment, if you teach chemistry, foreign languages, mathematics or physics in an eligible school.</p>
          <p class="govuk-body">You may be able to apply for a levelling up premium payment if you teach chemistry, computing, mathematics or physics in an eligible school.</p>
          <p class="govuk-body">If you are eligible for both payments, you will only be able to claim one of these payments this year.</p>

          <div class="das-panel das-panel--interruption" style="text-align: left; margin-top: 0; margin-bottom: 25px">
            <h2 class="das-panel__heading">What additional payments can I claim?</h2>
    
            <p class="govuk-body govuk-!-margin-top-3">Find out which additional payments you may be eligible for if you teach one of the following subjects:</p>
           
            <ul class="govuk-list govuk-list--bullet">
                <li>
                chemistry                              
                </li>
                <li>          
                computing
                </li>
                <li>          
                foreign languages
                </li>
                <li>          
                mathematics
                </li>
                <li>          
                physics
                </li>
            </ul>
            <ul class="gem-c-document-list">
                <li class="gem-c-document-list__item">
                    <a class="gem-c-document-list__item-title govuk-link govuk-link--no-visited-state" href="../../v6/start">Find out if you are eligible for any additional payments</a>               
                </li>
            </ul>
        </div>
    
          <h2 class="govuk-heading-m govuk-!-margin-top-9" id="providers">Documents</h2>  
          <ul class="gem-c-document-list">
            <li class="gem-c-document-list__item">          
              <a class="gem-c-document-list__item-title govuk-link govuk-link--no-visited-state" href="ecp-guidance">Early-career payments for teachers</a>
            </li>
            <li class="gem-c-document-list__item">          
              <a class="gem-c-document-list__item-title govuk-link govuk-link--no-visited-state" href="lup-guidance">Levelling up premium payment for teachers</a>
            </li>
            <li class="gem-c-document-list__item">
              <a class="gem-c-document-list__item-title govuk-link govuk-link--no-visited-state" href="tslr-guidance">Teachers: claim back your student loan repayments</a>               
            </li>
          </ul>
     
                <!--<li class="gem-c-pagination__item gem-c-pagination__item--next">
                  <a href="/how-to-vote/voting-and-coronavirus" class="govuk-link gem-c-pagination__link" rel="next" data-track-category="contentsClicked" data-track-action="next" data-track-label="/how-to-vote/voting-and-coronavirus" data-track-dimension="next" data-track-dimension-index="29">
                    <span class="gem-c-pagination__link-title">
                      <svg class="gem-c-pagination__link-icon" xmlns="http://www.w3.org/2000/svg" height="13" width="17" viewBox="0 0 17 13">
                        <path d="m10.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
                      </svg>
                      <span class="gem-c-pagination__link-text">Next</span>
                    </span>
                    <span class="gem-c-pagination__link-divider visually-hidden">:</span>-->
                    <!--<span class="gem-c-pagination__link-label">Label</span>-->
                  </a>
                </li>
                </ul>
                  <!--
                    <div class="pagination">
                    <p class="govuk-heading-s"><a href="#" class="pagination-link">Next</a></p>
                    <p class="govuk-body-s pagination-subtitle-link"><a href="#">Voting and coronavirus (COVID-19)</a></p>
                    </div>
                  -->
                  <!--
                  <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                  <p class="govuk-body-s govuk-!-margin-bottom-9">
                      Published: 1 January 2022<br>
      
                      Last updated: 14 February 2022 <a href="#" class="govuk-link govuk-link--no-visited-state">+ show all updates</a>
                  </p>
                  -->
              </div>

      <div class="govuk-grid-column-one-third">
        <div class="related-navigation">
          <h2 class="govuk-heading-s">Related content</h2>
          <!--<ul class="govuk-list related-links">
            <li class="govuk-body-s"><a href="#">List item 1</a></li>
            <li class="govuk-body-s"><a href="#">List item 2</a></li>
          </ul>-->
      </div>
    </div>
  </main>
</div>
{% endblock %}
