{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-finances.html">Home</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Mandatory tasks</h1>

<p align="right">
<button class="govuk-button govuk-button--secondary" data-module="govuk-button">
  Add dates to calendar
</button>
</p>

<table class="govuk-table">
  <caption class="govuk-table__caption govuk-table__caption--m">Mandatory deadlines for the next 12 months</caption>
  <thead class="govuk-table__head">
    <tr class="govuk-table__row">
      <th scope="col" class="govuk-table__header">Date</th>
      <th scope="col" class="govuk-table__header">Description</th>
    </tr>
  </thead>
  <tbody class="govuk-table__body">
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">19 January 2023</td>
      <td class="govuk-table__cell"><a href="https://www.gov.uk/guidance/academies-accounts-return">Accounts return</a> <br>The deadline for accounts return submission.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">15 March 2023</td>
      <td class="govuk-table__cell"><a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">School resource management self-assessment checklist submission</a> <br>Deadline for submissions. You can use our <a href="https://schools-financial-benchmarking.service.gov.uk/">benchmarking tool</a> to fill in the online form.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">31 March 2023</td>
      <td class="govuk-table__cell"><a href="https://www.gov.uk/government/publications/schools-financial-value-standard-sfvs">Schools financial value standard (SFVS) and assurance statement</a> <br>Deadline for submissions. You can use our <a href="https://schools-financial-benchmarking.service.gov.uk/">benchmarking tool</a> to fill in the online form.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">26 July 2023</td>
      <td class="govuk-table__cell"><a href="https://www.gov.uk/guidance/academies-budget-forecast-return">Academies budget forecast return</a> <br>Submit your budget forecast return to the Education and Skills Funding Agency.</td>
    </tr>
    <tr class="govuk-table__row">
      <td class="govuk-table__cell">19 January 2024</td>
      <td class="govuk-table__cell"><a href="https://www.gov.uk/guidance/academies-accounts-return">Accounts return</a> <br>The deadline for accounts return submissions.</td>
    </tr>
  </tbody>
</table>


{% endblock %}
