{% extends "_template.html" %}

{% set subjectLine = "You could be eligible for additional payments" %}

{% block emailBody %}
<p><b>
Additional payments for early career teachers
</b></p>
<p>
Additional payments are available to early career teachers.
</p><p>
You may be eligible for an early-career payment, if you qualified in and now teach chemistry, foreign languages, mathematics or physics in an eligible school.
</p><p>
You may be able to apply for a levelling up premium payment if you qualified in and now teach chemistry, computing, mathematics or physics in an eligible school. 
</p><p>
  If you are eligible for both payments, you will only be able to claim one of these payments this year.
</p><p>
<a href="../start" class="govuk-link govuk-link--no-visited-state">Find out if you are eligible for any additional payments</a>
</p><p>
Learn more about early-career payments:
<br><a href="../../v5/guidance/ecp-guidance" class="govuk-link govuk-link--no-visited-state">https://levelling-up-premium-prototype.herokuapp.com/v5/guidance/ecp-guidance</a>
</p><p>
Learn more about levelling up premium payments:
<br><a href="../../v5/guidance/lup-guidance" class="govuk-link govuk-link--no-visited-state">https://levelling-up-premium-prototype.herokuapp.com/v5/guidance/lup-guidance</a>
</p><p>
If you have a student loan, you may also be eligible for teachers student loan repayments.
<br>Learn more about teachers student loan repayments:
<a href="../../v5/guidance/tslr-guidance" class="govuk-link govuk-link--no-visited-state">https://levelling-up-premium-prototype.herokuapp.com/v5/guidance/tslr-guidance</a>
</p>
{% endblock %}