{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" id="now">
        See what funds are available now
      </h1>

      <h2 class="govuk-heading-m">
        <a href="/url/of/onward/page">Financial support for trusts in financial difficulty</a>
      </h2>

      <p>Financial support for academy trusts in financial difficulty.</p>

      <p>Available all year</p>

      <h2 class="govuk-heading-m">
        <a href="/url/of/onward/page">Trust Capacity Fund (TCaF)</a>
      </h2>

      <p>A fund to help trusts develop their capacity and take on underperforming schools, particularly in education investment areas.</p>

      <p>Closes on 30 June 2023</p>

      <h2 class="govuk-heading-m">
        <a href="/url/of/onward/page">Urgent Capital Support (UCS)</a>
      </h2>

      <p>Urgent Capital Support (UCS) is specifically for urgent condition issues that threaten immediate school closure.</p>

      <p>Available all year</p>


      <h1 class="govuk-heading-l" id="later">
        Funds and claims available later in the year
      </h1>

      <h2 class="govuk-heading-m">
        <a href="/url/of/onward/page">Academy national non-domestic rates (NNDR) claims</a>
      </h2>

      <p>Information for academies about how to claim for national non-domestic rates (NNDR).</p>

      <p>Open for claim submissions from 1 July 2023 to 31 January 2024</p>

      <h2 class="govuk-heading-m">
        <a href="/url/of/onward/page">Condition Improvement Fund</a>
      </h2>

      <p>Information for eligible academies, sixth-form colleges and voluntary aided (VA) schools about the Condition Improvement Fund (CIF).</p>

      <p>Applications open on 13 October 2023 and close on 7 December 2023</p>

    </div>
  </div>

{% endblock %}
