{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

<span class="govuk-caption-xl">St John's Primary School</span>
<h1 class="govuk-heading-xl">Manage your school finances</h1>

<div class="govuk-width-container">
  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
        <h2 class="govuk-heading-l">News</h2>
  
        <div class="card-flat">
            <h2 class="govuk-heading-m"><a href="#">Latest news and updates</a></h2>
            <p class="govuk-body"><a href="">Academies Account Direction published</a> (15 March 2023)</p>
            <p class="govuk-body"><a href="">Trust Capacity Fund (TCaF) application window opens</a> (15 March 2023)</p>
            <p class="govuk-body"><a href="">Academies Account Direction published</a> (15 March 2023)</p>
            <p><a href="">See all latest news</a></p>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-third">
        <h2 class="govuk-heading-l">Deadlines</h2>
        <div class="card-flat">
          <h2 class="govuk-heading-m"><a href="#">Mandatory deadlines</a></h2>
            <p>See all deadlines for mandatory DfE financial returns.</p>
          </a>
        </div>
      </div>
    </div>
  </main>
</div>
  
{% endblock %}
