{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l">
        Manage your school finances
      </h1>

      <h2 class="govuk-heading-m">Deadlines</h2>
      <h3 class="govuk-heading-s"><a href="#">School resource management self-assessment checklist</a></h2>
     <p>15 March 2023 | Finance</p>
      
     <h3 class="govuk-heading-s"><a href="#">Trust Capacity Fund (TCaF)</a></h2>
     <p>30 June 2023 | Finance</p>

     <h3 class="govuk-heading-s"><a href="#">Academies budget forecast return</a></h2>
      <p>26 July 2023 | Finance</p>

      <h3 class="govuk-heading-s"><a href="#">Accounts return</a></h2>
        <p>18 October 2023 | Finance</p>

        <h3 class="govuk-heading-s"><a href="#">Condition Improvement Fund</a></h2>
          <p>7 December 2023 | Finance</p>

          <p><a href="#">See all deadlines</a></p>

      <h2 class="govuk-heading-m">Latest news</h2>
      <h3 class="govuk-heading-s"><a href="#">Academies Accounts Direction</a></h2>
        <p>31 March 2023 | Finance</p>

        <h3 class="govuk-heading-s"><a href="#">Trust Capacity Fund (TCaF) application window opens</a></h2>
          <p>1 April 2023 | Finance</p>

          <h3 class="govuk-heading-s"><a href="#">Dial-in session: Academies chart of accounts and automation</a></h2>
            <p>17 August 2023 | 10.30am | Finance</p>

            <h3 class="govuk-heading-s"><a href="#">Webinar: Academies chart of accounts and automation</a></h2>
              <p>18 August 2023 | 10.30am | Finance</p>

              <h3 class="govuk-heading-s"><a href="#">Academy Trust Handbook updated</a></h2>
                <p>1 September 2023 | Finance</p>
                
                <p><a href="#">See all latest news</a></p>
    </div>
  </div>

  <h2 class="govuk-heading-m">Stay up-to-date</h2>

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s"><a href="https://www.gov.uk/guidance/academy-trust-handbook/what-has-changed-in-this-edition">The Academy Trust Handbook is now updated</a></h3>
      <p>View our summary of the changes. Read this if you have responsibility for governing, managing or auditing an academy trust.</p>
      <p>Updated on 1 September 2022
        </p>
    </div>

    <div class="govuk-grid-column-one-half">
      <h3 class="govuk-heading-s"><a href="">Read the Academies Account Direction</a></h3>
      <p>Read guidance on preparing, auditing and submitting your annual financial statements in academy trusts.</p>
      <p>Updated on 19 October 2022
      <br><br>
      </p>
    </div>
  </div>

<div class="govuk-o-grid">
          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>

          <div class="govuk-o-grid__item govuk-o-grid__item--one-half">

            <div class="govuk-card">
              <div class="govuk-card__content">
                <h3 class="govuk-heading-m"><a href="#">Card heading of intermediate length</a></h3>
                <p class="govuk-body">A short overview of the content that exists behind this card. For example a full page detailing what goes inside the body of a card.
                </p>
              </div>
            </div>
          </div>
        </div>

        <h2 class="govuk-heading-m">Stay up-to-date</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s"><a href="https://www.gov.uk/guidance/academy-trust-handbook/what-has-changed-in-this-edition">The Academy Trust Handbook is now updated</a></h3>
    <p>View our summary of the changes. Read this if you have responsibility for governing, managing or auditing an academy trust.</p>
    <p>Updated on 1 September 2022
      </p>
      <div class="blueline">
      </div>
  </div>

  <div class="govuk-grid-column-one-half">
    <h3 class="govuk-heading-s"><a href="">Read the Academies Account Direction</a></h3>
    <p>Read guidance on preparing, auditing and submitting your annual financial statements in academy trusts.</p>
    <p>
      <br>
      Updated on 19 October 2022
      <br>
    </p>
    <div class="blueline">
    </div>
  </div>
</div>

<h2 class="govuk-heading-m">Further support</h2>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    
    <h3 class="govuk-heading-s"><a href="">Submit financial returns</a></h3>
    <p>Find guidance on the Academies account return and related tasks.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s"><a href="">Advice and support - financial management</a></h3>
    <p>Manage risk and resources, and get financial support and planning advice.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s"><a href="">Funds and support</a></h3>
    <p>Find guidance on what funds are available and if your organisation is eligible.</p>
  </div>
</div>

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-third">
    
    <h3 class="govuk-heading-s"><a href="">Buy goods and services</a></h3>
    <p>Find quality-checked goods and service suppliers and get advice from procurement specialists.
      </p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s"><a href="">Manage my digital technology</a></h3>
    <p>Manage digital and accessibility standards, remote technology and digital infrastructure.</p>
  </div>
  <div class="govuk-grid-column-one-third">
    <h3 class="govuk-heading-s"><a href=""></a></h3>
    <p></p>
  </div>
</div>


{% endblock %}
