{% extends "layouts/main-gov.html" %}

{% set serviceName = "Get school business information" %}

{% block pageTitle %}
 {{serviceName}} prototype
  {% endblock %}

{% block content %}
  
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
        {% if serviceName %} {{ serviceName }} {% endif %} prototype</h1>

      <p class="govuk-body govuk-!-margin-bottom-4">This is a prototype, created using the GOV.UK prototype kit, to show the experience of {{serviceName}}.</p>
        </div>

        <div class="govuk-grid-column-one-third pull-right">
          <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
              <h2 class="govuk-heading-m">Useful links</h2>
              <p>These links open in a new tab.</p>
              <ul class="govuk-list">
                <li><a class="govuk-link govuk-!-font-weight-bold" href="https://educationgovuk.sharepoint.com/:p:/s/SchoolAccountandIdentity/EbPRQgIzm6RNnudHzKDGJFgBvvpCmbaNgjfs9vQM9oEYOQ?e=t4hdCI" target="_blank">Design history</a></li>
                <li><a class="govuk-link govuk-!-font-weight-bold" href="https://educationgovuk.sharepoint.com/sites/SchoolAccountandIdentity/Shared%20Documents/For[…]cs&viewid=d43e1382%2D38b6%2D488a%2Db21c%2D32663424ae8d" target="_blank">Copy docs</a></li>
              </ul>
          </aside>
      </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-8">
        <div class="govuk-grid-column-full">


          <h2 class="govuk-heading-m">Sprint 0: Beginning of beta phase</h2>

          <p class="govuk-body">Designed in this sprint:</p>
          <ul class="govuk-list govuk-list--bullet">
              <li>DfE header</li>
              <li>Footer</li>
              <li>Cards</li>
            </ul>
            
            <p class="govuk-body">Useful links:</p>
          <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
              <li><a href="sprint_0/start.html">Academy journey</a></li>
              <li><a href="sprint_0/start-la.html">LA maintained school journey</a></li></ul>

          <hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

          
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">V4.0 (Alpha)</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" class="govuk-table__header govuk-!-width-three-quarters">User journey</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-font-weight-bold">Academy school user</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                End of alpha
              </strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a type="submit" class="govuk-button govuk-!-margin-bottom-1" href="v4_0/start.html">
                  View academy journey
              </a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-font-weight-bold">LA maintained school user</td>
              <td class="govuk-table__cell"><strong class="govuk-tag govuk-tag--blue">
                End of alpha
              </strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a type="submit" class="govuk-button govuk-!-margin-bottom-1" href="v4_0/start-la.html">
                  View maintained journey
              </a>
              </td>
            </tr>

          </tbody>
        </table>

        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">V3.0 (Alpha)</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" class="govuk-table__header govuk-!-width-three-quarters">User journey</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Status</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-font-weight-bold">Academy school user</td>
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                Research complete
              </strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a type="submit" class="govuk-button govuk-!-margin-bottom-1" href="v3_0/start.html">
                  View academy journey
              </a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-font-weight-bold">LA maintained school user</td>
              <td class="govuk-table__cell">  <strong class="govuk-tag govuk-tag--green">
                Research complete
              </strong></td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a type="submit" class="govuk-button govuk-!-margin-bottom-1" href="v3_0/start-la.html">
                  View maintained journey
              </a>
              </td>
            </tr>

          </tbody>
        </table>

        <p class="govuk-body govuk-!-margin-bottom-4">Please see the useful links to access earlier information on earlier stages of the project.</p>

  </div>

  <!--

    <details class="govuk-details" data-module="govuk-details">
          <summary class="govuk-details__summary">
            <span class="govuk-details__summary-text">
              What we tested in version 3.0
            </span>
          </summary>
          <div class="govuk-details__text">
            [Detail and link to more info here?]
          </div>
        </details>
        
  <strong class="govuk-tag govuk-tag--red">
                Draft
              </strong>

  <strong class="govuk-tag govuk-tag--green">
                Research complete
              </strong>
  
    <strong class="govuk-tag govuk-tag--yellow">
    User research
  </strong>
-->
{% endblock %}
