{% extends "layouts/main-gov.html" %}

{% set serviceName = "Manage your school finances prototype" %}

{% block pageTitle %}
 {{serviceName}}
  {% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Section</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link">Subsection</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        {% if serviceName %} {{ serviceName }} {% endif %}
      </h1>

      <h2 class="govuk-heading-l">Sprint X </h2>
      <p><a href="">Sprint goal:</a> [Description]</p>

      <h3 class="govuk-heading-m">Prototype version 1.0</h2>
      <p><a href="start.html">[Academy: school business professional]</a></p>
        <p><a href="start.html">[Maintained school: school business professional]</a></p>
  
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">Sprint plan</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header">What we're doing</th>
              <th scope="col" class="govuk-table__header">Why we're doing it</th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Content structure on dashboard</th>
              <td class="govuk-table__cell">To test whether content is in the correct priority order to meet user needs.</td>
            </tr>
            <tr class="govuk-table__row">
              <th scope="row" class="govuk-table__cell">Findability</th>
              <td class="govuk-table__cell">To apply findings from card sort and tree test and see whether users can find key content items.</td>
            </tr>
          </tbody>
        </table>

      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

    </div>

  <div class="govuk-grid-column-one-third">

    <aside class="app-related-items" role="complementary">
      <h2 class="govuk-heading-m" id="subsection-title">
        Subsection
      </h2>
      <nav role="navigation" aria-labelledby="subsection-title">
        <ul class="govuk-list govuk-!-font-size-16">
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#">
              Related link
            </a>
          </li>
          <li>
            <a href="#" class="govuk-!-font-weight-bold">
              More <span class="govuk-visually-hidden">in Subsection</span>
            </a>
          </li>
        </ul>
      </nav>
    </aside>
  </div>

  </div>
{% endblock %}
