{% extends "layouts/main-gov.html" %}

{% set serviceName = "Get information on school business manager tasks" %}

{% block pageTitle %}
 {{serviceName}} prototype
  {% endblock %}

{% block content %}
  
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl govuk-!-margin-top-5">
        {% if serviceName %} {{ serviceName }} {% endif %} prototype</h1>

      <p class="govuk-body govuk-!-margin-bottom-4">This is a prototype, created using the GDS prototype kit, to show the experience of {{serviceName}}.</p>
      <p class="govuk-body govuk-!-margin-bottom-4">This prototype started at version 3.0 (with earlier versions created in Figma). Please see the useful links to access earlier information on earlier stages of the project.</p>
        </div>

        <div class="govuk-grid-column-one-third pull-right">
          <aside class="govuk-!-margin-top-5 govuk-!-margin-bottom-9">
              <h2 class="govuk-heading-m">Useful links</h2>
              <ul class="govuk-list">
                <li><a class="govuk-link govuk-!-font-weight-bold" href="#" target="_blank">Design history</a></li>
              </ul>
          </aside>
      </div>
        </div>

        <div class="govuk-grid-row govuk-!-margin-top-8">
        <div class="govuk-grid-column-full">
        <table class="govuk-table">
          <caption class="govuk-table__caption govuk-table__caption--m">V3.0 User journeys</caption>
          <thead class="govuk-table__head">
            <tr class="govuk-table__row">
              <th scope="col" class="govuk-table__header" class="govuk-table__header govuk-!-width-three-quarters">User journey</th>
              <th scope="col" class="govuk-table__header govuk-!-width-one-half">Description</th>
              <th scope="col" class="govuk-table__header"></th>
            </tr>
          </thead>
          <tbody class="govuk-table__body">
            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-font-weight-bold">Academy school user</td>
              <td class="govuk-table__cell">[Decription].</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a type="submit" class="govuk-button govuk-!-margin-bottom-1" href="start.html">
                  View journey
              </a>
              </td>
            </tr>

            <tr class="govuk-table__row">
              <td class="govuk-table__cell govuk-!-font-weight-bold">LA maintained school user</td>
              <td class="govuk-table__cell">[Decription].</td>
              <td class="govuk-table__cell govuk-table__cell--numeric">
                <a type="submit" class="govuk-button govuk-!-margin-bottom-1" href="start-la.html">
                  View journey
              </a>
              </td>
            </tr>

          </tbody>
        </table>
        </div>
  </div>
{% endblock %}
