{% extends "layout-guidance.html" %}

{% block pageTitle %}
This is a heading{% endblock %}

{% block beforeContent %}
{{super()}}
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
        <div class="govuk-breadcrumbs">
            <ol class="govuk-breadcrumbs__list">
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Home</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Education, training and skills</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Teaching and leadership</a>
            </li>
            <li class="govuk-breadcrumbs__list-item">
                <a class="govuk-breadcrumbs__link" href="#">Recruiting, inducting and managing teachers</a>
            </li>
            </ol>
        </div>
    </div>

    <div class="govuk-width-container">
        <main class="govuk-main-wrapper">
      
          <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds contents-list">      
              <span class="govuk-caption-xl gem-c-title__context">Guidance</span>
              <h1 class="govuk-heading-l">Levelling up premium payments for teachers</h1>
              <p class="govuk-body-l">From autumn 2022, early career teachers can claim a levelling up premium payment for teaching mathematics, physics, chemistry and computing in eligible state-funded secondary schools.</p>
              <p class="govuk-body-l">The levelling up premium payment gives eligible teachers up to £3,000 in the 2022 to 2023, 2023 to 2024 and 2024 to 2025 academic years. <!--The academic year runs from 1 September to 31 August.--></p>
              <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
              <table class="govuk-table">
                  <tbody class="govuk-table__body">
                      <tr class="govuk-table__row">
                          <td class="govuk-table__cell"><p class="govuk-body-s">From:<br>Published:<br>Last updated:</p></td>
                          <td class="govuk-table__cell"><p class="govuk-body-s"><a href="#">Department for Education</a><br>1 January 2022<br>3 March 2022, <a href="#" class="govuk-link govuk-link--no-visited-state">see all updates</a></p></td>
                      </tr>          
                  </tbody>
              </table>        
              </div>          
              <div class="govuk-grid-column-one-third">
              </div>
            </div>
      
            <div class="govuk-grid-row">
              <div class="govuk-grid-column-two-thirds">          
                <ol class="govuk-list govuk-body-s contents">
                    <li id="contents">Contents</li>
                    <li>&mdash; <a href="#when" class="govuk-link govuk-link--no-visited-state">When you can apply</a></li>
                    <li>&mdash; <a href="#eligibility" class="govuk-link govuk-link--no-visited-state">Eligibility criteria for teachers</a></li>                   
                    <li>&mdash; <a href="#payments" class="govuk-link govuk-link--no-visited-state">Payments and deductions</a></li>
                    <li>&mdash; <a href="#contact" class="govuk-link govuk-link--no-visited-state">Contact</a></li>
                </ol>
          
                <div class="das-panel das-panel--interruption" style="text-align: left; margin-top: 0; margin-bottom: 25px">
                    <h2 class="das-panel__heading">What additional payments can I claim?</h2>
            
                    <p class="govuk-body govuk-!-margin-top-3">Find out which additional payments you may be eligible for if you teach one of the following subjects:</p>
                   
                    <ul class="govuk-list govuk-list--bullet">
                        <li>
                        chemistry                              
                        </li>
                        <li>          
                        computing
                        </li>
                        <li>          
                        foreign languages
                        </li>
                        <li>          
                        mathematics
                        </li>
                        <li>          
                        physics
                        </li>
                    </ul>
                    <ul class="gem-c-document-list">
                        <li class="gem-c-document-list__item">
                            <a class="gem-c-document-list__item-title govuk-link govuk-link--no-visited-state" href="../../v6/start">Find out if you are eligible for any additional payments</a>               
                        </li>
                    </ul>
                </div>
      
                <h3 class="govuk-heading-l" id="when">
                    When you can apply
                </h3>                

                <p class="govuk-body">
                    Use the table below to find out when you can apply for a levelling up premium payment. Use the year when your initial teacher training (ITT) course started (postgraduate) or finished (undergraduate).
                </p>

                <table class="govuk-table">
                    <!--<caption class="govuk-table__caption govuk-table__caption--m">Table showing payment years and eligible cohorts by initial teacher training (ITT) year</caption>-->
                    <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">ITT course start or finish</th>
                        <th scope="col" class="govuk-table__header">Academic years to apply</th>                    
                    </tr>
                    </thead>
                    <tbody class="govuk-table__body" style="border-bottom: 2px solid #000;">
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="border-top: 2px solid #000;">2017 to 2018</td>
                            <td class="govuk-table__cell" rowspan="5" style="border-top: 2px solid #000;">2022 to 2023 (autumn 2022)</td>                            
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2018 to 2019</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2019 to 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2020 to 2021</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2021 to 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="border-top: 2px solid #000;">2018 to 2019</td>
                            <td class="govuk-table__cell" rowspan="5" style="border-top: 2px solid #000;">2023 to 2024 (autumn 2023)</td>                            
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2019 to 2020</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2020 to 2021</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2021 to 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2022 to 2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell" style="border-top: 2px solid #000;">2019 to 2020</td>
                            <td class="govuk-table__cell" rowspan="5" style="border-top: 2px solid #000;">2024 to 2025 (autumn 2024)</td>                            
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2020 to 2021</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2021 to 2022</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2022 to 2023</td>
                        </tr>
                        <tr class="govuk-table__row">
                            <td class="govuk-table__cell">2023 to 2024</td>
                        </tr>
                    </tbody>
                </table>              

                <h2 class="govuk-heading-l" id="eligibility">
                    Eligibility criteria for teachers
                </h2>

                <p class="govuk-body">
                    You must meet the training, employment and performance criteria to be able to claim any additional payments.<br>
                    Once the claim window opens in autumn 2022, you will be able to answer some questions to find out what additional payments you are eligible to claim.<br>
                    Even if you are eligible to claim more than one type of additional payment, you will only be able to claim one additional payment per academic year.<br>
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Learn more about what additional payments are available.</a>
                </p>

                <p class="govuk-body">
                    <a href="#" class="govuk-link govuk-link--no-visited-state">Register your interest</a> now to receive an email when the claim window opens.
                </p>

                <h2 class="govuk-heading-m">
                    Regional eligibility
                </h2>
    
                <p class="govuk-body">
                    Levelling up premium payments will be offered in schools and areas identified as having a high need for teachers. <a href="#" class="govuk-link govuk-link--no-visited-state">Learn which schools are eligible.</a>
                </p>

                <h2 class="govuk-heading-m">
                    Qualifications
                </h2>

                <p class="govuk-body">
                    To claim you must have completed at least one of the following:
                </p>                

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        an initial teacher training (ITT) course specialising in mathematics, physics, chemistry or computing.
                    </li>
                    <li>
                        a UK undergraduate or postgraduate degree related to mathematics, physics, chemistry and computing on the JACS 3.0 principal subject codes or with a relevant <a href="#" class="govuk-link govuk-link--no-visited-state">Higher Education Classification of Subjects (HECoS) codes</a>.
                    </li>
                    <li>
                        an equivalent non-UK degree
                    </li>
                </ul>

                <h2 class="govuk-heading-m">
                    QTS and QTLS
                </h2>

                <p class="govuk-body">
                    To claim you must have either QTS or <a href="https://www.gov.uk/guidance/qualified-teacher-status-qts#qualified-teacher-learning-and-skills-qtls" class="govuk-link govuk-link--no-visited-state">qualified teacher learning and skills (QTLS)</a> status. If you have QTLS you must be a member of the Society for Education and Training (SET).
                </p>  

                <p class="govuk-body">
                    If you have QTS or QTLS, you must have started a postgraduate initial teacher training (ITT) course or completed an undergraduate ITT course in these academic years:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        2017 to 2018 up to 2021 to 2022 - to claim a payment in the academic year 2022 to 2023
                    </li>
                </ul>

                <p class="govuk-body">
                    The academic year runs from 1 September to 31 August.
                </p>
            
                <h2 class="govuk-heading-m">
                    Employment
                </h2>

                <p class="govuk-body">
                    You must be employed as a teacher in a state-funded secondary school in England when you apply for the payment. State-funded secondary schools include:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        local authority-maintained secondary schools (including middle-deemed secondary schools)
                    </li>
                    <li>
                        academies, free schools or multi-academy trusts
                    </li>
                    <li>
                        special schools (local authority-maintained or non-maintained)
                    </li>
                </ul>

                <p class="govuk-body">
                    You must:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        have spent at least 50% of your contracted hours allocated to teaching one or more of the eligible subjects at the time of the application
                    </li>
                </ul>

                <h2 class="govuk-heading-m">
                    Supply, private school and sixth-form college teachers
                </h2>

                <p class="govuk-body">
                    If you are a supply teacher, you must be employed directly by the school to be eligible. You must have been working for at least one term before applying. You cannot come from a private agency.
                </p>

                <p class="govuk-body">
                    If you teach in a private school or sixth-form college, you are not eligible.
                </p>

                <h3 class="govuk-heading-m">
                    Part-time teachers
                </h3>

                <p class="govuk-body">    
                    If you are a part-time teacher, you are eligible for the same levelling up premium payment amounts as full-time teachers.
                </p>
                <p class="govuk-body">
                    You still need to meet the same eligibility criteria in full.
                </p>

                <h3 class="govuk-heading-m">
                    Breaks in teaching
                </h3>

                <p class="govuk-body">    
                    You are allowed to have some breaks in your normal employment which include: 
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        sickness, maternity, paternity, parental or adoption leave
                    </li>
                    <li>
                        annual leave
                    </li>
                    <li>
                        time between unfair dismissal and an employee being reinstated
                    </li>
                    <li>
                        military service, for example with a reserve force
                    </li>
                    <li>
                        temporary lay-offs
                    </li>
                </ul>            

                <h3 class="govuk-heading-m">
                    Performance
                </h3>

                <p class="govuk-body">    
                    You must not currently be subject to any:
                </p>

                <ul class="govuk-list govuk-list--bullet">
                    <li>
                        formal performance measures as a result of continuous poor teaching standards
                    </li>
                    <li>
                        disciplinary action
                    </li>
                </ul>

                <h2 class="govuk-heading-l" id="payments">
                    Payments and deductions
                </h2>

                <h3 class="govuk-heading-m">
                    Number of payments
                </h3>

                <p class="govuk-body">
                    You can only claim one additional payment in each academic year, even if you are eligible for more than one type of additional payment.
                </p>

                <p class="govuk-body">
                    For example, if you are eligible for both the levelling up premium and early career payments you can only claim one of these additional payments in the same academic year.
                </p>

                <p class="govuk-body">
                    However, if you are eligible to <a href="https://www.gov.uk/government/publications/additional-payments-for-teaching-eligibility-and-payment-details/teachers-claim-back-your-student-loan-repayments-eligibility-and-payment-details" class="govuk-link govuk-link--no-visited-state">claim back your student loan repayments</a>, you will be able to claim this as well as a levelling up premium payment or early-career payment.
                </p>

                <h3 class="govuk-heading-m" id="paying">
                    Paying Income Tax and National Insurance
                </h3>

                <p class="govuk-body">
                    The levelling up premium payment is considered taxable income.
                </p>

                <p class="govuk-body">
                    The Department for Education will pay Income Tax up to basic rate (currently earnings of £12,571 to £50,270, taxed rate 20%) and National Insurance for the payment on your behalf.
                </p>

                <p class="govuk-body">
                    If you become or already are a higher rate taxpayer, any additional Income Tax and National Insurance contributions for this payment over the higher rate (currently earnings of £50,271 to £150,000, taxed rate 40%) will remain your responsibility. The Department for Education is not liable to reimburse tax at the higher rate.
                </p>

                <p class="govuk-body">
                    Please review the tax bands updated on <a href="#" class="govuk-link govuk-link--no-visited-state">Income Tax rates and Personal Allowances</a>.
                </p>

                <p class="govuk-body">
                    The payment is not part of your salary from your employer. You, your employer, or the government will not make a contribution to your pension as part of this payment.
                </p>

                <p class="govuk-body">
                    Please consider any other benefits or tax credits that could be affected if you claim this payment.
                </p>

                <h3 class="govuk-heading-m">
                    Student loan deductions
                </h3>

                <p class="govuk-body">
                    If you have a student loan you are currently paying off, a deduction will go towards repaying your student loan. This is taken from your payment automatically.
                </p>

                <h3 class="govuk-heading-l" id="contact">
                    Contact
                 </h3>
        
                 <p class="govuk-body">
                    If you have any questions about the levelling up premium payments, email <a href="#" class="govuk-link govuk-link--no-visited-state">additionalpayments@digital.education.gov.uk</a>.
                 </p>

                <hr class="govuk-section-break govuk-section-break--l govuk-section-break--visible">
                
                <p class="govuk-body-s govuk-!-margin-bottom-9">
                    Published: 5 October 2019<br>

                    Last updated: 30 March 2022 <a href="#" class="govuk-link govuk-link--no-visited-state">+ show all updates</a>
                </p>                  
            </div>

            <div class="govuk-grid-column-one-third">
                <div class="related-navigation">
                <h2 class="govuk-heading-s">Related content</h2>
                <ul class="govuk-list related-links">
                    <li class="govuk-body-s"><a href="tslr-guidance">Teachers: claim back your student loan repayments</a></li>
                    <li class="govuk-body-s"><a href="ecp-guidance">Early-careers payments for teachers</a></li>
                </ul>
            </div>
        </div>
    </main>
</div>
{% endblock %}