{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}
<main class="govuk-main-wrapper">

<span class="govuk-caption-xl">St John's Primary School</span>
<h1 class="govuk-heading-xl">{{ serviceName }}</h1>

<div class="govuk-width-container">
  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-two-thirds">  <p>
  See upcoming finance related events and deadlines.
  <br>Find relevant guidance and services to support the tasks you do, all in one place. 
</p>
</div>
  </div>
  <h2 class="govuk-heading-l">Stay up to date</h2>
        <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">
    
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-9">
        
        <div class="card-flat-la">
            <h2 class="govuk-heading-m">Latest news and updates (1 new)</h2>
            <span class="govuk-caption-m"><strong class="govuk-tag govuk-tag--blue">
              New
            </strong> Published 10 March 2023</span>
            <p class="govuk-body"><a href="news-la.html#sfvs">Schools financial value standard (SFVS) and assurance statement due soon</a></p>
              
            <span class="govuk-caption-m"><strong class="govuk-tag govuk-tag--blue">
              New
            </strong> Published 8 March 2023</span>
            <p class="govuk-body"><a href="news-la.html#rpa">Join the risk protection arrangement (RPA)</a> 
                <br>An alternative to commercial insurance.</p>
              <p><a href="news-la.html">See all latest news</a></p>
        </div>
      </div>
  
      <div class="govuk-grid-column-one-third govuk-!-margin-bottom-9">
        <div class="card-flat-la">
          <h2 class="govuk-heading-m">Mandatory tasks</h2>
            <p>See all deadlines for mandatory tasks.</p>
            <p><a href="deadlines-la.html">View deadlines</a></p>
        </div>
      </div>
    </div>
</div>

<div class="govuk-width-container govuk-!-margin-bottom-9">
  <h2 class="govuk-heading-l">Useful services and guidance</h2>
      <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

      
      <div class="govuk-grid-row">
      
         <div class="govuk-grid-column-one-third govuk-!-margin-bottom-5">
          <div class="card-flat-white">
              <h2 class="govuk-heading-m">Understand financial data for your school</h2>
              <p>Links to tools that help you understand data for your school.</p>      
              <p><a href="financial-data-la.html">View data tools</a></p>
            </div>
        </div>

        <div class="govuk-grid-column-one-third">
        <div class="card-flat-white">
          <h2 class="govuk-heading-m">Get the best value for your school</h2>
            <p>Advice and tools to help you get the best value for your school.</p>
            <p><a href="value-la.html">View value tools</a></p>
        </div>
      </div> 

    </div>
    

    
    </div>



    <h2 class="govuk-heading-l">Support</h2>
    <hr class="govuk-section-break govuk-section-break--visible govuk-section-break--l">

  <div class="govuk-grid-row govuk-!-margin-bottom-9">
    <div class="govuk-grid-column-one-third">

      <div class="card-flat-white">
        <h2 class="govuk-heading-m">Events</h2>
          <p>Links to register for and join upcoming webinars, workshops and dial-in Q&A sessions.</p>
          <p><a href="events1-la.html">See all events</a></p>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="card-flat-white">
        <h2 class="govuk-heading-m">Forum</h2>
          <p>Join the ESFA forum for academies, maintained schools and local authorities to ask questions, discuss ideas and gain support.</p>
          <p><a href="https://esfahelp.education.gov.uk/hc/en-gb/community/topics/360000984440-Academies?sort_by=created_at" class="govuk-link" rel="noreferrer noopener" target="_blank">Visit the forum (opens in new tab)</a></p>
        </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <div class="card-flat-white">
        <h2 class="govuk-heading-m">Help</h2>
          <p>Help for academies and maintained schools with DfE services.</p>
          <p><a href="#">Get help</a></p>
      </div>
    </div>
  </div>
</main>


{% endblock %}
