{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
{% endblock %}

{% block content %}

<span class="govuk-caption-xl">St John's Primary School</span>
<h1 class="govuk-heading-xl">Manage your school finances</h1>

<main class="govuk-main-wrapper">
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h2 class="govuk-heading-l">News</h2>

      <div class="card-links-grey">
          <h2 class="govuk-heading-s" style="color:#005ea5">Latest news and updates</h2>
          <p class="govuk-body"><a href="">Academies Account Direction published</a> (15 March 2023)</p>
          <p class="govuk-body"><a href="">Trust Capacity Fund (TCaF) application window opens</a> (15 March 2023)</p>
          <p class="govuk-body"><a href="">Academies Account Direction published</a> (15 March 2023)</p>
          <p><a href="">See all latest news</a></p>
      </div>
    </div>

    <div class="govuk-grid-column-one-third">
      <h2 class="govuk-heading-l">Deadlines</h2>
      <div class="card-grey" a href="#" style="text-decoration:none">
        <h2 class="govuk-heading-s" style="color:#005ea5"> Mandatory deadlines</h2>
          <p>See all deadlines for mandatory DfE financial returns.</p>
        </a>
      </div>
    </div>
  </div>
</main>

<main class="govuk-main-wrapper">
<h2 class="govuk-heading-l">Useful content and services</h2>
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="card3">
        <div class="card-header3" ><a href="funds.html" style="text-decoration:none">
        <h2 class="govuk-heading-s" style="color:#005ea5">Funding</h2>
        <p>Funding opportunities and eligibility criteria.</p>
        <a></div>
        <div class="card-body3">
          <p class="govuk-body"><a href="funds.html#now">Funds available now</a></p>
          <p class="govuk-body"><a href="funds.html#later">Funds available later in the year</a></p>
        </div>
      </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="card-grey">
          <h2 class="govuk-heading-s" style="color:#005ea5">Academy Trust Handbook</h2>
          <p></p>
          </div>
            </div>

        <div class="govuk-grid-column-one-third">
          <div class="card3">
            <div class="card-header3">
            <h2 class="govuk-heading-s" style="color:#005ea5">School finances</h2>
            <p>Guidance and links to DfE services relating to finance.</p>
            </div>
            <div class="card-body3">
              <p class="govuk-body"><a href="">Link</a></p>
              <p class="govuk-body"><a href="">Link</a></p>
            </div>
          </div>
          </div>
    </div>
  </main>

  <h2 class="govuk-heading-l">Support</h2>

  <main class="govuk-main-wrapper">
    <div class="govuk-grid-row">
    <div class="govuk-grid-column-one-third">
      <div class="card-grey">
        <h2 class="govuk-heading-s" style="color:#005ea5">Webinars and events</h2>
        <p>Links to register and join upcoming events.</p>
        </div>
      </div>

      <div class="govuk-grid-column-one-third">
        <div class="card-grey">
          <h2 class="govuk-heading-s" style="color:#005ea5">Forums</h2>
          <p>National and regional forums for support relating to school finance.</p>
        </div>
      </div>

        <div class="govuk-grid-column-one-third">
          <div class="card3">
            <div class="card-header3">
            <h2 class="govuk-heading-s" style="color:#005ea5">Help</h2>
            <p>Feedback form and contact information at the DfE.</p>
            </div>
            <div class="card-body3">
              <p class="govuk-body"><a href="">Feedback forum</a></p>
              <p class="govuk-body"><a href="">Contact information</a></p>
            </div>
          </div>
          </div>
    </div>
  </main>

{% endblock %}
