{% extends "layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="manage-finances.html">Home</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-l" id="now">
      Guidance</h1>
      <p>Guidance from DfE relating to finance.</p>
      
      <h2 class="govuk-heading-m">Support with financial planning and resource management</h2>
        <p><a href="https://www.gov.uk/guidance/trust-and-school-improvement-offer">Trust and school improvement offer</a>
        <br>
        <a href="https://www.gov.uk/guidance/school-resource-management-self-assessment-checklist">School resource management</a>
        <br>
        <p><a href="https://www.gov.uk/government/publications/the-school-resource-management-advisers-srma-programme">The resource management advisers (SRMA) programme</a>
        </p>

        <h2 class="govuk-heading-m">Learn about financial best practice</h2>
          <p><a href="https://www.gov.uk/government/publications/academy-trust-financial-management-good-practice-guides">Academy trust financial management good practice guides</a>
          <br>
          <a href="https://www.gov.uk/government/publications/setting-executive-salaries-guidance-for-academy-trusts">Setting executive salaries: guidance for academy trusts</a>
          </p>

          <h2 class="govuk-heading-m">Manage risk for your school</h2>
            <p><a href="https://www.gov.uk/government/publications/risk-protection-arrangement-rpa-for-academies/academies-risk-protection-arrangement-rpa">The risk protection arrangement (RPA) for schools</a>
            <br>
            <a href="https://www.gov.uk/guidance/academies-guide-to-reducing-any-risk-of-financial-irregularities">Academy trust guide to reducing fraud</a>
            </p>


            <p>
              <a href="https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school">Find a DfE-approved framework for your school</a>
              <br>
              <a href="https://www.gov.uk/guidance/get-help-buying-for-schools">Get help buying for schools</a>
              <br>
              <a href="https://schools-financial-benchmarking.service.gov.uk/">Schools financial benchmarking</a>
              <br>
              <a href="https://viewyourdata.education.gov.uk/">View your education data</a>
              <br>
              <a href="https://www.gov.uk/government/publications/view-my-financial-insights">View my financial insights</a>
              <br>
              <a href="https://www.gov.uk/guidance/integrated-curriculum-and-financial-planning-icfp">Integrated curriculum and financial planning (ICFP)</a>
           </p>
    </div>
  </div>

{% endblock %}
