{% extends "sprint_2/layouts/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint_2/homepage.html">Home</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}

<h1 class="govuk-heading-xl">Events</h1>

<p>Register for and join upcoming webinars, workshops and dial-in Q&A sessions.</p>

  
  <table class="govuk-table">
    <caption class="govuk-table__caption govuk-table__caption--m">Upcoming events</caption>
    <thead class="govuk-table__head">
      <tr class="govuk-table__row">
        <th scope="col" class="govuk-table__header">Date and time</th>
        <th scope="col" class="govuk-table__header">Event type</th>
        <th scope="col" class="govuk-table__header">Description</th>
        
      </tr>
    </thead>
    <tbody class="govuk-table__body">
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">13 April 2023
          <br>
          11am 
        </td>
        <td class="govuk-table__cell">Dial-in session</td>

        <td class="govuk-table__cell"><a href="https://www.gov.uk/government/publications/academies-chart-of-accounts#qa-dial-in-sessions-academies-chart-of-accounts-and-automation">Academies chart of accounts an automation</a> <br> Monthly dial-in sessions in MS Teams for people to ask questions about the chart of accounts and automation.
          To join, <a href="https://teams.microsoft.com/dl/launcher/launcher.html?url=%2F_%23%2Fl%2Fmeetup-join%2F19%3Ameeting_Y2NkMGQyNmItZGQzOC00NGQyLTlhOWYtZjg1N2JkNDlmOTNm%40thread.v2%2F0%3Fcontext%3D%257b%2522Tid%2522%253a%2522fad277c9-c60a-4da1-b5f3-b3b8b34a82f9%2522%252c%2522Oid%2522%253a%2522d2977aa2-dfb0-498d-860b-01e1cdef3fa5%2522%257d%26_ga%3D2.200153645.2072450094.1675688333-1759979351.1674656266%26anon%3Dtrue&type=meetup-join&deeplinkId=c982ece4-631f-4896-afa0-96bc1826d41d&directDl=true&msLaunch=true&enableMobilePage=true&suppressPrompt=true">select the link at the time of the session</a>.</td>
        </tr>
      <!--https://www.gov.uk/government/publications/academies-chart-of-accounts#webinars-workshops-and-qa-sessions-->
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">15 April 2023
          <br>
          10:30am  
        </td>
        <td class="govuk-table__cell">Webinar</td>
      </td>
      <td class="govuk-table__cell"><a href="https://www.eventbrite.com/e/how-the-get-help-buying-for-schools-service-can-support-your-school-buying-tickets-394264223907?aff=odcleoeventsincollection&keep_tld=1">How the Get help buying for schools service can support your school buying</a> <br>This webinar will tell you everything you need to know about the support that the free Get help buying for schools service can provide.
   
      </tr>
          <tr class="govuk-table__row">
        <td class="govuk-table__cell">17 August 2023
          <br>
          10:30am  
        </td>
        <td class="govuk-table__cell">Dial-in session</td>
        <td class="govuk-table__cell"><a href="#">Academies chart of accounts and automation</a> <br>Monthly dial-in sessions in MS Teams for people to ask questions about the chart of accounts and automation.
          To join, <a href="#">select the link at the time of the session</a>.</td>
        </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">18 August 2023
          <br>
          2pm 
        </td>
        <td class="govuk-table__cell">Webinar</td>

        <td class="govuk-table__cell"><a href="#">Academies chart of accounts and automation</a> <br>Webinars presenting an introduction to the academies chart of accounts and automation.
          To join, <a href="#">select the link at the time of the session</a>.</td>
        </tr>
      <tr class="govuk-table__row">
        <td class="govuk-table__cell">15 September 2023
          <br>
          2pm
        </td>
        <td class="govuk-table__cell">Webinar</td>

        <td class="govuk-table__cell"><a href="#">Academies chart of accounts and automation</a> <br>Webinars presenting an introduction to the academies chart of accounts and automation.
          To join, <a href="#">select the link at the time of the session</a>. </td>
        </tr>
      
    </tbody>
  </table>
  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <nav class="govuk-pagination" role="navigation" aria-label="results">
        <ul class="govuk-pagination__list">
            <li class="govuk-pagination__item govuk-pagination__item--current">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 1" aria-current="page">
              1
            </a>
          </li>
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 2">
              2
            </a>
          </li>
          <li class="govuk-pagination__item govuk-pagination__item--ellipses">&ctdot;</li>
          
          <li class="govuk-pagination__item">
            <a class="govuk-link govuk-pagination__link" href="#" aria-label="Page 7">
              7
            </a>
          </li>
        </ul>
        <div class="govuk-pagination__next">
          <a class="govuk-link govuk-pagination__link" href="#" rel="next"> <span class="govuk-pagination__link-title">Next</span> <svg class="govuk-pagination__icon govuk-pagination__icon--next" xmlns="http://www.w3.org/2000/svg" height="13" width="15" aria-hidden="true" focusable="false" viewBox="0 0 15 13">
              <path d="m8.107-0.0078125-1.4136 1.414 4.2926 4.293h-12.986v2h12.896l-4.1855 3.9766 1.377 1.4492 6.7441-6.4062-6.7246-6.7266z"></path>
            </svg></a>
        </div>
      </nav>
  </div>


    <div class="govuk-grid-column-one-third">
      <p class="govuk-body govuk-!-font-size-19">Showing <strong>1</strong> to <strong>5</strong> of <strong>33</strong> results</p>
    </div>
  </div>

{% endblock %}
