{% extends "sprint_2/layouts-la/main.html" %}

{% block pageTitle %}
  Content page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
<div class="govuk-breadcrumbs">
  <ol class="govuk-breadcrumbs__list">
    <li class="govuk-breadcrumbs__list-item">
      <a class="govuk-breadcrumbs__link" href="/sprint_2/homepage-la.html">Home</a>
    </li>
  </ol>
</div>
    {% endblock %}

{% block content %}
      <h1 class="govuk-heading-xl">
        Get the best value for your school</h1>
      <p style="padding-bottom:30px">Advice and tools to help you get the best value for your school.</p>
          
        <div class="govuk-grid-row">
              
                <div class="govuk-grid-column-one-third card-container govuk-!-margin-bottom-5">
                  <div class="card-universal">
                    <h2 class="govuk-heading-m"><a href="https://www.gov.uk/guidance/find-a-dfe-approved-framework-for-your-school" class="govuk-link">Find a DfE-approved framework for your school</a></h2>
                    <p>Find quality-checked suppliers of goods and services for your school.</p>
                  </div>
                </div>
                
                <div class="govuk-grid-column-one-third card-container">
                  <div class="card-universal">
                      <h2 class="govuk-heading-m"><a href="https://www.gov.uk/guidance/get-help-buying-for-schools" class="govuk-link">Get help buying for schools</a></h2>
                      <p>Free and impartial advice and guidance from procurement specialists for all state-funded schools in England on buying goods and services.</p>
                  </div>
                </div>
      
      
                <div class="govuk-grid-column-one-third card-container">
                  <div class="card-universal">
                    <h2 class="govuk-heading-m"><a href="https://www.gov.uk/guidance/the-risk-protection-arrangement-rpa-for-schools" class="govuk-link">Risk protection arrangement</a></h2>
                    <p>Public sector schools can join the risk protecton arrangement (RPA), an alternative to commercial insurance, which may save time and money.</p>
                  </div>
              </div>
        </div>

        <div class="govuk-grid-row">
                <div class="govuk-grid-column-one-third card-container govuk-!-margin-bottom-5">
                  <div class="card-universal">
                    <h2 class="govuk-heading-m"><a href="https://www.gov.uk/guidance/trust-and-school-improvement-offer" class="govuk-link">Trust and school improvement offer</a></h2>
                    <p>What improvement support schools and trusts can get in the 2022 to 2023 academic year.</p>
                  </div>
                </div>
                
                <div class="govuk-grid-column-one-third card-container">
                  <div class="card-universal">
                      <h2 class="govuk-heading-m"><a href="https://www.gov.uk/government/collections/schools-financial-health-and-efficiency" class="govuk-link">School resource management</a></h2>
                      <p>Information, tools, training, and guidance to help schools and trusts save money on day-to-day costs.</p>
                   </div>
                </div>
      
      
                <div class="govuk-grid-column-one-third card-container">
                  <div class="card-universal">
                    <h2 class="govuk-heading-m"><a href="https://www.gov.uk/government/publications/the-school-resource-management-advisers-srma-programme" class="govuk-link">The school resource management advisers (SRMA) programme</a></h2>
                    <p>Information about the SRMA programme and the hands-on support and tailored advice available to schools, academy trusts and local authorities.</p>
                  </div>
              </div>
        </div>

       <script src="https://code.jquery.com/jquery-3.6.4.min.js" integrity="sha256-oP6HI9z1XaZNBrJURtCoUT5SUnxFr8s3BzRl+cbzUq8=" crossorigin="anonymous"></script>

{% endblock %}
