{#
For guidance on how to use layouts see:
https://prototype-kit.service.gov.uk/docs/how-to-use-layouts
#}

{% extends "govuk-prototype-kit/layouts/govuk-branded.html" %}
{% set bodyClasses = "dfe-template__body" %}
{% block header %}
<header class="govuk-header app-header" role="banner" data-module="govuk-header">
   <div class="govuk-header__container govuk-width-container">
    <div class="govuk-header__logo">
      <a href="/Home" class="govuk-header__link govuk-header__link--homepage">
      <span class="govuk-header__logotype">
         <img src="/public/images/crest.png" alt="Department for Education homepage" class="govuk-header__logotype-crown-fallback-image">
          <span class="govuk-header__logotype-text">
           Department for Education
          </span>
        </span>
      </a>     
      <span class="govuk-header__product-name">
          | <a href="/manage-finances" class="govuk-header__link">{{serviceName}}</a>  
        </span>
    </div>
    <div class="govuk-header__content">
      <nav class="govuk-header__navigation govuk-header__navigation--end" aria-label="Menu">
        <button type="button" class="govuk-header__menu-button govuk-js-header-toggle" aria-controls="navigation" aria-label="Show or hide menu" aria-expanded="false" hidden="">Menu</button>
        <ul id="navigation" class="govuk-header__navigation-list">
          <!-- <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="/manage-finances">Home</a>
            </li> 
            -->
            <li class="govuk-header__navigation-item">
              <a class="govuk-header__link" href="/dfe-signin">Sign out</a>
            </li> 
        </ul>
      </nav>
    </div>
  </div>
</header>
{% endblock %}